{{ if .Site.Params.achievements.enable | default false }}
{{- $achievements := .Site.Language.Params.achievements | default .Site.Params.achievements -}}
<section id="achievements" class="py-5">
  <div class="container">
    <h3 class="text-center">{{ $achievements.title | default (i18n "achievements") }}</h3>
    <div class="row justify-content-center py-4">
      <div class="col-sm-12 col-md-10 col-lg-8">
        {{ range $achievements.items | default .Site.Params.achievements.items }}
        <div class="cert-item">
          {{ if .image }}
          <div class="cert-badge">
            <img src="{{ .image }}" alt="{{ .title }}">
          </div>
          {{ end }}
          <div class="cert-body">
            <div class="cert-header">
              <h5 class="cert-title">{{ .title }}</h5>
              {{ if .url }}
              <a href="{{ .url }}" target="_blank" rel="noopener noreferrer" class="cert-link" title="View credential">
                <i class="fas fa-arrow-up-right-from-square"></i>
              </a>
              {{ end }}
            </div>
            {{ if .content }}
            <div class="cert-content secondary-font">{{ .content }}</div>
            {{ end }}
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
